.cell {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  float: left;

  &--snake {
    background-color: $drawingColor;
  }

  &--food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .dark {
      background-color: #6b6100;
    }
  }
}
