.loss {
  text-align: center;
  width: 1200px;
  height: 750px;
  padding-top: 20vh;

  &__title {
    margin-top: 0;
  }

  &__submitForm {
    &__usernameInput {
      border: none;
      font-size: 100%;
      color: inherit;
      padding: 0;
      background-color: transparent;
      text-align: center;
      border-bottom: 4px $drawingColor solid;
      width: 350px;
    }

    &__restart {
      border: none;
      font-size: 100%;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      color: $drawingColor;
      display: block;
      margin: auto;
      margin-top: 10px;

      &:hover {
        &::before {
          width: 20px;
          height: 20px;
          content: ">";
          font-weight: 900;
        }

        &::after {
          width: 20px;
          height: 20px;
          content: "<";
          font-weight: 900;
        }
      }

      &--blink {
        animation: blinker 1s step-start infinite;
      }
    }

    &__submit {
      color: inherit;
      border: none;
      font-size: 100%;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      display: block;
      margin: auto;
      margin-top: 10px;
      font-size: 100%;

      &:hover {
        &::before {
          width: 20px;
          height: 20px;
          content: ">";
          font-weight: 900;
        }

        &::after {
          width: 20px;
          height: 20px;
          content: "<";
          font-weight: 900;
        }
      }

      &--blink {
        animation: blinker 1s step-start infinite;
      }
    }
  }

  &__info {
    font-size: 100%;
  }
}
