.start {
  text-align: center;
  width: 1200px;
  height: 750px;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 0;
  }

  &__logo {
    height: 30px;
    width: 360px;
    display: flex;

    &__cell {
      height: 30px;
      width: 30px;

      &--dark {
        background-color: $drawingColor;
      }

      &--food {
        display: grid;
        grid-template-columns: 10px 10px 10px;
        grid-template-rows: 10px 10px 10px;

        .dark {
          background-color: #6b6100;
        }
      }
    }
  }

  &__controls {
    font-size: 100%;
  }

  &__startButton {
    border: none;
    font-size: 100%;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    color: $drawingColor;
    font-size: 100%;

    &:hover {
      &::before {
        width: 20px;
        height: 20px;
        content: ">";
        font-weight: 900;
      }

      &::after {
        width: 20px;
        height: 20px;
        content: "<";
        font-weight: 900;
      }
    }

    &--blink {
      animation: blinker 1s step-start infinite;
    }
  }
}
